<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        const roomName="<%= roomName%>"   //accesses the server varaible to use on the client side
    </script>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>  <!--this is the scipt that the socket server provides-->
  <script defer src="script.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="msg"></div>
    <form id="send">
        <input type="text" id="msg-input">
        <button type="submit" id="send-btn" style="margin-left: 10px">Send</button>
    </form>
    
</body>
</html>